<div class="p-2">
    <app-intestazione
        [nome]="utente.username"
        [img]="utente.image"
        [id]="utente.id"
    >
    <!-- passo le tre proprietà di input a intestazione -->
    </app-intestazione>
    <button class="btn btn-primary ml-4" (click)="nuovoPost()">
        Nuovo Post
    </button>
    <app-barraricerca></app-barraricerca>
    <mat-menu #menu="matMenu" >
        <div (click)="logout()">
            <i class="bi bi-arrow-right"></i>
            Logout
        </div>
        <div routerLink="/modificaprofilo">
            Modifica Profilo
        </div>
    </mat-menu>
    <button class="btn btn-warning" style="float: right;" [matMenuTriggerFor]="menu">
        <i class="bi bi-list"></i>
    </button>

</div>