<div class="row">
    <div class="col-md-2">
        <app-fotoprofilo [src]="utente.image" class="immagine"></app-fotoprofilo>
    </div>
    <div class="col-md-10">
        <span>{{utente.username}}</span>
        <br>
        <span>{{utente.firstName}} {{utente.lastName}}</span>
        <br>
        <span>{{utente.gender}} {{utente.age}}</span>
        <br>
        <span>
            <a [href]="'mailto:' + utente.email">
                {{utente.email}}
            </a>
        </span>
        <br>
        <span>
            <a [href]="'telto:' + utente.phone">
                {{utente.phone}}
            </a>
        </span>
    </div>
</div>