<div matDialogContent>
    <!-- {{post.comments?.length > 0 ? 'Commenti Post' : 'Non ci sono commenti in quest Post'}} -->
    <app-commento *ngFor="let commento of post.comments"
        [commento]="commento"
    >
    </app-commento>
    <mat-form-field>
        <!-- il valore dell'input e di testocommento sono sempre collegati e hanno lo stesso valore (two-way-binding) -->
        <input matInput type="text" placeholder="commento..." [(ngModel)]="testoCommento" >
    </mat-form-field>
</div>
<div matDialogActions >
    <button (click)="chiudi()" class="btn btn-primary"  >
        Chiudi
    </button>
    <button class="btn btn-success" (click)="aggiungiCommento()" 
        [disabled]="testoCommento == ''">
            Aggiungi commento
    </button>
</div>