<div>
    <app-headerpost
        [img]="img"
        [username]="username"
        [id]="post.userId"
        [indice]="indice"
        [postID]="post.id"
        [post]="post"
        (postEliminato)="elimina()"
        (postModificato)="modifica($event)"
    ></app-headerpost>
    <!-- titolo post -->
    <div>{{post.title}}</div>
    <!-- body post -->
    <div>{{post.body}}</div>
    <!-- tag post -->
    <app-posttag
        [post]="post"
    ></app-posttag>
    <div>
        <app-reactions
            [post]="post"
        ></app-reactions>
        <app-bottonecommenti
            [post]="post"
        >
        </app-bottonecommenti>
    </div>
</div>