.titolo{
    font-size: 20px;
    color: rgb(43, 128, 226);
    padding-top: 5px;
}


.immagine-piccola{
    max-width: 200px;
}

.click{
    cursor: pointer;
    color:blue;
}
.click:hover{
    text-decoration:underline
}