<div>
    <app-headerpost
        [img]="img"
        [username]="username"
        [id]="post.userId"
        [indice]="indice"
        [postID]="post.id"
        [post]="post"
        (postEliminato)="elimina()"
        (postModificato)="modifica($event)"
    ></app-headerpost>
    <div class="row">
        <div class="col-8"> <!-- div di sinistra -->
            <!-- titolo post -->
            <div [appEvidenziaricerca]="ricercaService.ricerca"
            [routerLink]="'/post/'+post.id" class="titolo">
                {{post.title}}
            </div>
            <!-- body post -->
            <div [appEvidenziaricerca]="ricercaService.ricerca">
                <span *ngIf="!mostraAltro"> {{ post.body | riducitesto }} </span>
                <span *ngIf="mostraAltro"> {{ post.body }} </span>
                <span class="click" *ngIf="!mostraAltro" (click)="mostraAltro = true">
                    mostra altro
                </span>
                <span class="click" *ngIf="mostraAltro" (click)="mostraAltro = false" >
                    mostra meno
                </span>
            </div>
            <!-- tag post -->
            <app-posttag
                [post]="post"
            ></app-posttag>
        </div>
        <div class="col-4" *ngIf="!immagineGrande" (click)="immagineGrande=!immagineGrande">
            <img class="immagine-piccola" 
                [src]="'https://picsum.photos/800/800?random='+post.id">
        </div>
        <div *ngIf="immagineGrande" (click)="immagineGrande=!immagineGrande">
            <img [src]="'https://picsum.photos/800/800?random='+post.id">
        </div>
    </div>
    <div> <!-- footer del post / qui mettiamo i bottoni -->
        <app-reactions
            [post]="post"
        ></app-reactions>
        <app-bottonecommenti
            [post]="post"
        >
        </app-bottonecommenti>
        <app-condividi
            [post]="post"    
        >
        </app-condividi>
    </div>
</div>